{% extends 'base_ajax.html.twig' %}

{% block all_surveys %}
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
        <tr>
        {{% if tic_form.fields is empty %}}
        </tr>
        {{% else %}}
            {{% for field in tic_form.fields %}}
                <td> {{ form_row(field) }} </td>
                {{% if loop.index is divisibleby(3) and not loop.last %}}
                </tr><tr>
                {{% endif %}}
            {{% endfor %}}
        </tr>
        {{% endif %}}
        </tbody>
        
        <script>
            $.getScript({{ asset('js/tic.js') }});
        </script>
            
          <tr> 
            <td><button class="btn"> Do you have Siblings?</button></td>
            <td><button class="btn"> Do you play a sport?</button></td>
            <td><button class="btn"> Do you watch TV?</button></td>
          </tr>

          <tr> 
            <td><button class="btn"> What is your favorite color></button></td>
            <td><button class="btn"> Do you play an instrument or play music?</button></td>
            <td><button class="btn"> What's your favorite food is?</button></td>
          </tr>

          <tr> 
            <td><button class="btn"> My Favorite animal is?</button></td>
            <td><button class="btn"> My favorite place is?</button></td>
            <td><button class="btn"> My favorite food is?</button></td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}
