{% extends 'student/base.html.twig' %}
{% form_theme form _self 'bootstrap_3_layout.html.twig' %}

{% block main_content %}
    <div class="row">
        <h2 class="sub-header">All about me</h2>
        <img src="../images/topRight.png" width="100" height="100" style="float:right" >
    </div>
    <div class="row">
        {{ form(form) }}
    </div>
    
{% endblock %}
