{% extends 'student/base.html.twig' %}

{% block main_content %}
    <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="{{asset('iceb.png') }}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      </div>
    </div>

    <h2 class="sub-header">Back to back drawings</h2>

    <div class="row">
       <p>Describe a special place or an item that you care about without mentioning the name of the place or item</p>
    </div>
{% endblock %}
