{% extends 'student/base.html.twig' %}

{% block main_content %}
    <div class="row">
      <h2 class="sub-header">Backpack Scavenger Hunt</h2>
      <img src="{{asset('topRight.png')}}" width="100" height="100" style="float:right" >
    </div>

    <div class="row">
      <p> Pick an item that is inside the backpack or on you that is important to you? </p>
      <p> Describe the item you picked? </p>
      <p> Why is it important to you? </p>
    </div>
    <div class="row well">
        {{ answers.item }}
    </div>
    
{% endblock %}
