{% extends app.request.isXmlHttpRequest ? 'base_ajax.html.twig' : 'base.html.twig' %}
{% block sidebar_options %}
    <div class="row">
    {{ knp_menu_render('AppBundle:Builder:completedMenu') }}
    </div>
    <div class="row">
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    </div>    
{% endblock %}
{% block scripts %}
    {{parent()}}
    <script>
        $(function()
        {
            function onMainAnchorClick(e)
            {
                e.preventDefault();
                var href = jQuery(this).attr('href');
                $( '#main' ).load( href );
                console.log(href);                
            }
            $('#sidebar a').click(function(e) {
                e.preventDefault();
                var url = $(this).attr('href');

                $('#main').load(url);
            });
            $('a.xhrl').click(onMainAnchorClick)      
        })          
    </script>  
{%endblock%}
    