{% extends 'student/base.html.twig' %}

{% block main_content %}
{#
<div class="col-xs-6 col-sm-3 placeholder">
    <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='../iceBreaker/thingsInCommon.html';">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    </button>
    <h4>Things in Common</h4>
</div>

<div class="col-xs-6 col-sm-3 placeholder">
    <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='../iceBreaker/backpackScavengerHunt.html';">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    </button>
    <h4>Backpack Scavenger Hunt</h4>
</div>
#}

{% set icebreakers = {}%}
{% set num = current.num %}

{% if current.tic is not null %}
    {% set icebreakers = icebreakers|merge({ 'Things in common': path('things_common', {'num': num}) }) %}
{% endif %}

{% if current.abm is not null %}
    {% set icebreakers = icebreakers|merge({ 'All about me': path('all_about_me', {'num': num}) }) %}
{% endif %}

{% if current.has7Words %}
    {% set icebreakers = icebreakers|merge({ '7 Words': path('seven_words', {'num': num}) }) %}
{% endif %}

{% if current.hasBackpack %}
    {% set icebreakers = icebreakers|merge({ 'Backpack scavenger hunt': path('backpack', {'num': num}) }) %}
{% endif %}

{% if current.hasTimeTravel %}
    {% set icebreakers = icebreakers|merge({ 'Time traveling': path('time_travel', {'num': num}) }) %}
{% endif %}

{% if current.hasMeShield %}
    {% set icebreakers = icebreakers|merge({ 'Me shield': path('me_shield', {'num': num}) }) %}
{% endif %}

{% for row in icebreakers|batch(3) %}
    <div class="row placeholder">
        {% for name, icebreaker in row %}
            <div class="col-sm-4">
                <a class="thumbnail" href="{{icebreaker}}">
                    <h4 class="text-center">{{ name }}</h4>
                </a>
            </div>
        {% endfor %}
    </div>
{% endfor %}
    
{% endblock %}