{% extends 'student/base.html.twig' %}

{% form_theme form _self 'bootstrap_3_layout.html.twig' %}

{% block ampedtextareatype_label %}
    <p class = "test">
        label
    </p>      
{% endblock %}


{% block main_content %}
    <h2 class="sub-header">Mentorship Agreement Form</h2>
          <div class = "subDiv" id="agreement">
              {{ form(form) }}
          </div>
{% endblock %}


