{% extends 'student/base.html.twig' %}

{% block main_content %}
          <h1 class="page-header">Review Progress and Learn New Skills</h1>

          <div class="row">
            <h2 class="sub-header">Study Skills</h2>
      <img src="{{asset('topRight.png')}}" width="100" height="100" style="float:right" >
          </div>

          <div class="row">
            <p>In this module, we will learn helpful methods for studying for a test or quiz.</p>
            <h4>Introduction</h4>
            <p>Studying helps us prepare for and do well on tests and quizzes. Sometimes we may find preparing for a test difficult or overwhelming.  These steps and study methods may help us with studying and make the process fun! </p>
            <h4> Lesson</h4>
            <p>While preparing for a test consider these steps:</p>
            <ol>
              <li>Determine the content coverage and question format of the exam
                <ul>
                  <li>What is the exam about?</li>
                  <li>Will there be multiple choice, essay questions, free response, fill in the blank?</li>
                </ul>
              </li>

              <li>Organize and Separate the content into parts
                <ul>
                  <li>Separate into different topics or chapters</li>
                </ul>
              </li>

              <li>Identify study strategies:
                <ul>
                  <li>Use Note Cards for definitions </li>
                  <li>Use Mind Maps to organize information </li>
                  <li>Use self testing to pretest yourself by predicting questions that will be on the exam.</li>
                </ul>
              </li>

              <li>Identify the amount of time needed for each strategy
                <ul>
                  <li>How long will it take to complete all the study strategies?</li>
                </ul>
              </li>
              
              <li>Summarize, Review, and Reflect the content studied. </li>
            </ol>

            <h4>Examples</h4>
            <ol>
              <li>Determine the content coverage and question format of the exam
                <ul>
                  <li>Roman History</li>
                  <li>Multiple Choice and Fill in the blank</li>
                </ul>
              </li>

              <li>Separate the content into parts
                <ul>
                  <li>Roman Religion</li>
                  <li>Roman empire</li>
                  <li>Present Rome</li>
                </ul>
              </li>

              <li>Identify study strategies
                <ul>
                  <li>Mind Maps and Note Cards</li>
                </ul>
              </li>

              <li>Amount of time needed for each strategy
                <ul>
                  <li>About 6 hours</li>
                </ul>
              </li>
            </ol>
          </div>
          <div class="row">
            <h2 class="sub-header">Exercise</h2>
            <img src="../images/topRight.png" width="100" height="100" style="float:right" >
          </div>
          <div class="row">

            <p>In this exercise we will learn and practice how to create mind maps and note cards.</p>
            <h4> Mind Map</h4>
            <p><span class="toBold">Description: </span>A Mind Map is a diagram that helps us visually organize information. We can use it to help us study by thinking about topics and how they relate together.</p>
            <p class="toBold"> Instructions: </p>
              <ol>
                <li>On a separate piece of paper, create a mind map for a topic you are learning in history or science. Use the map figure below as a guide.</li>
                <li>Write a main topic in the middle and draw a circle or box around it. A main topic is a big idea or theme (Example: the water cycle).</li>
                <li>Surround the main topic with subtopics. a subtopic is an idea that describes the main topic (Example: for the water cycle, subtopics could be evaporation, condensation, and precipitation</li>
                <li>Draw lines from subtopic to the main topic</li>
                <li>Around the subtopics, jot down supporting points, ideas and examples.</li>
              </ol> 
            </p>
          </div>
          <br>
{% endblock %}
