{% extends 'student/base.html.twig' %}

{% block main_content %}
          <h1 class="page-header">Review Progress and Learn New Skills</h1>

          <div class="row">
          <h2 class="sub-header">Planning for the future</h2>
      <img src="{{asset('topRight.png')}}" width="100" height="100" style="float:right" >
          </div>

          <div class="row">
             <h4>Rationale and Preparation</h4>
             <p>One way to increase student motivation is by linking present behavior with future goals.  Students often fail to see the connection between what they are doing now and their later success in life.  You may have experienced this in your own life: Can you remember a time when you were a middle school student complaining about schoolwork? Most of us can. It’s easy for students to fail to see the relevance of what they are doing now, and to feel like their academic performance is not all that important.</p>
             <p>The truth is that what students do now matters greatly. A student who does well in middle school may be more likely to get into better classes in high school, and thereby be more competitive for college scholarships or grants, which in turn can lead to greater college success and ultimately a well-paying job.  Every student has different motivations, so be creative in linking the present to future goals.  Some students may not want to go to college, and so a different chain of behaviors and goals will be needed.</p>

             <h4>Examples</h4>
             <p><span class="toBold">If the student wants to be a rapper: </span>Illustrate that doing better in English and Social Studies would increase both the student’s verbal ability and knowledge, allowing him or her to make more complex and impressive lyrics. </p>
              <p><span class="toBold">If the student wants to find a quality spouse and have a nice family:</span>Acknowledge that he or she must have an education in order to help his or her children with their homework when the time comes. </p>
              <p><span class="toBold">If the student wants to be a doctor:</span>Reiterate that the child must strive to do well in all of his or her classes in order to compete with the standards of medical school applicants. </p>

              <p>There are all sorts of possibilities, but somehow you should be able to link what the student is doing now with the success of their long-term goals.</p>

              
          </div>
          <div class="row">
            <h2 class="sub-header">Visualize 25</h2>
            <img src="{{asset('topRight.png')}}" width="100" height="100" style="float:right" >
          </div>

          

          <div class="row">
             <h4>Visualize 25</h4>
             <p>Visualize where you would like to be at the age of 25.</p>
             <p>Be descriptive as possible (e.g. career, location, family, house, car, friends, xommunity, hobbies. etc.)</p>

             <img src="{{asset('Picture1.png')}}" width="100%" height="100%">

          </div>
          <br>

{% endblock %}
