{% extends 'student/base.html.twig' %}

{% block main_content %}
    <h1 class="page-header">Review Progress and Learn New Skills</h1>

    <div class="row">
      <h2 class="sub-header">Time Management</h2>
      <img src="{{asset('topRight.png')}}" width="100" height="100" style="float:right" >
    </div>

    <div class="row">
      <p>Have you ever felt as though you didn’t have enough time to complete everything you needed to do? Have you ever made a goal but realized you couldn’t achieve it because you ran out of time?</p>
      <h4>Introduction</h4>
      <p>This module will give us insight into where we spend the majority of our time.  Identifying where most of our time is spent will allow us to make changes that promote goals and overall wellbeing.</p>
      <h4>Learning Time Terms</h4>
      <p>Read the three time terms below to your protege.  Ask your protege if they have any questions regarding the definitions</p>
      <ul>
        <li>
          <p> <span class="toBold">Committed Time -</span>This time is related to your short-term and long-term goals and is associated with what you value most.  (i.e. school, family, studying, exercise)</p>
          <p><span class="toBold">Maintenance Time - </span>This is the time you spend taking care of yourself.  (i.e. eating, sleeping, showering, getting dressed)</p>
          <p><span class="toBold">Discretionary Time - </span>This is considered the “free” time you spend on the things you value most in your life.  It should align with your committed time and focuses on your mental, physical and spiritual well-being.   ( i.e. hobbies, church, talking with friends)</p>

        </li>
      </ul>

      <h4>Instructions</h4>  
      <ul>
        <li>On the following pages, assist your protege in completing the daily schedule and identify how many hours out of the day are spent on certain activities. </li>
        <li>Ask your protege to identify and highlight or circle the priorities on your schedule.</li>
        <li>Discuss time management strategies, setting priorities and overcoming obstacles.</li>
      </ul>

      <h4>Time Management Strategies</h4>
      <ol>
        <li>Maintain a calendar.</li>
        <li>Make a daily to-do list.</li>
        <li>Stay organized.</li>
        <li>Set a timer.</li>
        <li>Divide larger projects into smaller assignments.</li>
        <li>Knock out the hard tasks first. </li>
        <li>Combine similar tasks.</li>
        <li>Study when you have the most amount of energy.</li>
        <li>Study in short blocks of time throughout the day.</li>
        <li>Be flexible, determined and patient.</li>
      </ol>   
    <h2 class="sub-header">Exercise- Time Management</h2>

    <div class="row">


    </div>
    <br>
    <div class="row">
      <h2 class="sub-header">Exercise-Time Management</h2>
      <img src="{{asset('topRight.png')}}" width="100" height="100" style="float:right" >
    </div>

    <div class="row">
      <h4>Setting priorities</h4>
      <p>Setting priorities will help you focus on what is important.</p>
      <p>Take a look at your schedule…</p>
      <p>Name 3 priorities</p>
      <ol>
        <li><input type="text" placeholder="Enter your answer here"> </li>
        <li><input type="text" placeholder="Enter your answer here"></li>
        <li><input type="text" placeholder="Enter your answer here"></li>
      </ol>

      <h4>Overcome Obstacles</h4>
      <p>Procrastination means to intentionally put off doing a task.  Creating strategies to fight procrastination will help you accomplish your goals.</p>
      <p>Take a look at your schedule…</p>
      <p>Name 3 priorities</p>
      <ol>
        <li><input type="text" placeholder="Enter your answer here"> </li>
        <li><input type="text" placeholder="Enter your answer here"></li>
        <li><input type="text" placeholder="Enter your answer here"></li>
      </ol>

      <h4>Time Management Strategies</h4>
      <p>Learning a few time management strategies will help you identify your priorities and overcome obstacles.</p>
      <p>Take a look at the strategies below…</p>
      <p>Name 3 that you will use…</p>
      <ol>
        <li><input type="text" placeholder="Enter your answer here"> </li>
        <li><input type="text" placeholder="Enter your answer here"></li>
        <li><input type="text" placeholder="Enter your answer here"></li>
      </ol>

    </div>
    <br>    
{% endblock %}
