{% extends 'student/base.html.twig' %}


{% block main_content %}
<div class="alert alert-info" role="alert">This session isn't over yet! Check the menu on the left to see which items are pending.</div>
{% endblock %}
