{% extends 'student/base.html.twig' %}

{% block main_content %}
    <h2 class="sub-header">Seven Words</h2>

    <div class="row">
       <p>Think of a goal or an issue (however big or small) that you would like some clarity on or to mae a decision around</p>
       <p>Express the issue/goal in EXACTLY 7 words</p>
    </div>
    <div class="row well">
        {{ answers.issue}}
    </div>
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        {% set session = app.request.attributes.get('num') %}        
        <a class="btn btn-warning col-sm-6 col-md-1" href="{{ path('answers_save', {'id':session,'type':'seven-words'}) }}">Save<a>
    {% endif %}    
{% endblock %}
