{% extends app.request.isXmlHttpRequest ? 'base_ajax.html.twig' : 'base.html.twig' %}
{% block sidebar_options %}
    {{ knp_menu_render('AppBundle:Builder:completedMenu') }}
{% endblock %}

{% block main_content %}
          <select id="selectOption" class="form-control">
            <option selected disabled>Choose Module</option>
            <option  value="../Modules/module" id="3">Changing your G.P.A.</option>
            <option  value="../Modules/module" id="5">Planning for the future</option>
            <option  value="../Modules/module" id="8">Technology, Self, and Time</option>
            <option  value="../Modules/module" id="10">Coping with Stress</option>
            <option  value="../Modules/module" id="1">Learning your A.B.C.s</option>
            <option  value="../Modules/module" id="4">Motivation</option>
          </select>
              <br>
          
          
          
            <div class="navButtons">
              <button id="prevButton" type="button" class="btn btn-lg btn-primary" onclick="options()"> Select </button>
            </div>          
{% endblock %}

{% block custom_scripts %}
    <script type="text/javascript">
      function options() {
        var e = document.getElementById("selectOption");
        var strUser = e.options[e.selectedIndex].value;
        var moduleNumber = e.options[e.selectedIndex].id + '.html';
        strUser += moduleNumber;
        console.log(strUser);
        window.location=strUser;
      }
    </script>
{% endblock %}

