{% extends 'base.html.twig' %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to AMPED mentoring!</h1>
    <p class="lead">Click the button to get started.</p>
    <p><a class="btn btn-lg btn-success" href="{{ path('amped_start') }}" role="button">Start session</a></p>
</div>
{% endblock %}
