{% extends 'student/base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig'  %}

{% block main_content %}
    <div class="row">
      <h2 class="sub-header">Time traveling</h2>
      <img src="{{asset('topRight.png')}}" width="100" height="100" style="float:right" >
    </div>

    <div class="row">
       <p>Label the notecards with the year from your birth up until the current year</p>
       <p>Shuffle the notecards</p>
       <p>Share something significant that happened in that year</p>
    </div>
    <div class="row">
        {{ form(form) }}
    </div>
    
{% endblock %}
