{% extends 'base.html.twig' %}

{% block mainContent %}
          <h1 class="page-header">Welcome, {{ menteeName }}</h1>
          
          
{% endblock %}

{% block sidebarOptions %}
    
            <li><a href="#">Review session progress</a></li>
            <li><a href="#">Example dialogues</a></li>
            
{% endblock %}            